.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background-color: steelblue;
}

.nav {
    grid-area: n;
    background-color: burlywood;
}

.content {
    grid-area: c;
    background-color: darkslategray;
}

.header img {
    height: 50px;
    width: 50px;
}